html, body{

  margin: 0;

  padding: 0;

}
img{

  width: 1000px;

  max-height: 1000px ;

}

p{

  font-size: 14px;

}

@media screen and (max-width: 700px) {

  p {
      font-size: 12px;

      max-width: 650px;

      text-align: left;

  }

  img{

   width: 650px; 

  }

}

@media screen and (min-width: 1024px){


p{

  width: 1000px;

  text-align: left;

}

}
@media screen and (max-width: 700px) {

  h3{

    display: none;

  }  
}